@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?w3570e');
  src:  url('fonts/icomoon.eot?w3570e#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?w3570e') format('truetype'),
    url('fonts/icomoon.woff?w3570e') format('woff'),
    url('fonts/icomoon.svg?w3570e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e905";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-bell:before {
  content: "\e951";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-spinner5:before {
  content: "\e97e";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-twitter:before {
  content: "\ea96";
}
