*
  box-sizing: border-box

html, body
  height: 100%
  font-size: 1em
  line-height: 1.5em

a, button
  color: $color-links

body, p
  font-family: sans-serif
  color: $color-text
  line-height: 1.5em

table
  width: 100%
  box-shadow: $box-shadow-1

  th, td
    text-align: left
    padding: $padding-main

  tbody tr:hover
    background: darken($color-bg, 5%)
