// Note: the default and .success versions look similar but are different!

blockquote
  margin: 2em 0
  padding-left: $padding-content
  border-left: 4px solid $color-success

  p:first-child
    margin-top: 0
  p:last-child
    padding-bottom: 0

  &.error, &.success, &.warning
    padding: $padding-main
    padding-left: $padding-content
    position: relative
    background: $color-code-bg

    &:before
      position: absolute
      top: $padding-main
      left: -.85em
      color: #fff
      width: 1.5em
      height: 1.5em
      border-radius: 1.5em
      text-align: center
      font-weight: bold

  // @FIXME use @each
  &.error
    border-color: $color-error
    &:before
      content: '!'
      background: $color-error

  &.success
    border-color: $color-success
    &:before
      content: '✓'
      background: $color-success

  &.warning
    border-color: $color-warning
    &:before
      content: '!'
      background: $color-warning
