$width-content: 960px

$header-height: 60px

$padding-main: 10px
$margin-main: 10px
$padding-content: $padding-main * 2

$color-bg: #fff
$color-links: #1c90f3
$color-text: #34495e
$color-success: #42b983
$color-error: #f66
$color-contrast-dark: #000
$color-contrast-light: #fff

$box-shadow-1: 0 0 3px rgba(0,0,0,0.35)
