$width-content: 600px
$width-wide: 960px

$header-height: 60px

$padding-main: 10px
$margin-main: 10px
$padding-content: $padding-main * 2

$color-bg: #fff
$color-links: #1c90f3
$color-text: #34495e
$color-headings: #2c3e50
$color-success: #42b983
$color-error: #f66
$color-contrast-dark: #000
$color-contrast-light: #fff
$color-code: #e96900
$color-code-bg: #f8f8f8
$color-default: #b3b3b3

$box-shadow-1: 0 0 3px rgba(0,0,0,0.35)
$box-shadow-1-bottom: 0 3px 3px -3px rgba(0,0,0,0.35)

$font-mono: monospace
